<nav class="navbar  fixed-top ">
  <!--  <a class="navbar-brand nava">DOCKERIZE</a>-->
  <img src="" class="img">
  <a class=" nava">Home</a>
  <a class=" nava">Mes Préférences</a>
  <!--  <form class="form-inline" >-->
  <!--    <div class=" d-flex  mx-4">-->
  <!--      <input class="form-control mx-4 mr-sm-2 mr-3" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="search">-->
  <!--      <button type="submit" class="btn btn-primary   " (click)="onClickSearch()" >valider</button>-->

  <!--    </div>-->
  <!--  </form>-->
  <button type="button" class="btn  btn-primary"> Ajouter un Livre</button>
  <button type="button" class="btn  btn-danger"> Deconnexion</button>
  <button class="btn  btn-success"> Se connecter</button>
</nav>


<div><router-outlet></router-outlet></div>s