.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

form {
  width: 30%;
  margin: 0 auto;
  margin-top: 20%;
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }
}

button[type="submit"] {
  display: inline-block;
  width: 45%;
  margin-right: 10px;
  background-color: #187c65;
  border-color:  #187c65;
}

button[type="submit"]:last-child {
  margin-right: 0;
  float: right;
  background-color: #444d48;
  border-color: #444d48;
}

.password-toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.password-toggle i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
}

.password-toggle:hover i {
  color: #000;
}

.form-group.position-relative {
  position: relative;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}

.password-toggle:hover i {
  color: #000;
}
