

<div *ngIf="!iscorrectUsernameAndEmail">
  <h3>Mot de passe oublié</h3>
  <form [formGroup]="myForm"  class="needs-validation" novalidate>
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" formControlName="username" id="username" class="form-control" required formArrayName="userName">
      <!--    <div class="invalid-feedback" *ngIf="myForm.controls.username.invalid && myForm.controls.username.touched">-->
      <!--      Veuillez entrer un nom d'utilisateur valide.-->
      <!--    </div>-->
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control" required formArrayName="email">
      <!--&lt;!&ndash;    <div class="invalid-feedback" *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched">&ndash;&gt;-->
      <!--      Veuillez entrer une adresse email valide.-->
      <!--    </div>-->
    </div>
    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary" (click)="validerUserEmail()">Valider</button>
    <button type="submit"  class="btn btn-danger" (click)="refuserUserEmail()">Refuser</button>
  </form>

</div>


<div *ngIf="iscorrectUsernameAndEmail">
  <h3>Mot de passe oublié</h3>
  <form [formGroup]="paswwordForm"  class="needs-validation" novalidate>
    <div class="form-group position-relative">
      <label for="password">Mot de passe</label>
      <div class="password-input-container">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" class="form-control" required formArrayName="password">
        <span class="password-toggle" (mouseenter)="togglePasswordVisibility(true)" (mouseleave)="togglePasswordVisibility(false)">
      <i class="fas" [ngClass]="{ 'fa-eye': showPassword, 'fa-eye-slash': !showPassword }"></i>
    </span>
      </div>
    </div>

    <div class="form-group position-relative">
      <label for="confirmPassword">Confirmer le mot de passe</label>
      <div class="password-input-container">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" class="form-control" required>
        <span class="password-toggle" (mouseenter)="togglePasswordVisibility(true)" (mouseleave)="togglePasswordVisibility(false)">
      <i class="fas" [ngClass]="{ 'fa-eye': showPassword, 'fa-eye-slash': !showPassword }"></i>
    </span>
      </div>
    </div>

    <button type="submit" [disabled]="!paswwordForm.valid" class="btn btn-primary" (click)="ValiderMotDepass()">Valider</button>
    <button type="submit" class="btn btn-danger" (click)="refuserMotDePass()">Refuser</button>
  </form>

</div>
