.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.valide{
  color: #52b252;
}
.valide_border{
  border-color: green;
}

.password-toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.password-toggle i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
}

.password-toggle:hover i {
  color: #000;
}

