

<br>
<br>

<br>
<br>


<form [formGroup]="simulationForm">



  <div class="container">
    <div class="row gutters">

      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 title">
                <h2 class="mb-2 text-primary text-center">Simuler l'mpact carbonne de votre produit</h2>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label>Produit</label>
                  <select class="form-select" [(ngModel)]="produit"  formControlName="produit">
                    <option *ngFor="let produit of produits" [value]="produit.id">{{ produit.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label >Pays d'origine du tissu </label>
                  <select class="form-select" [(ngModel)]="paysTeinture"  formControlName="paysTeinture">
                    <option *ngFor="let pays of lesPays" [value]="pays.code">{{ pays.name  }}</option>
                  </select>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label >Pays de provenance de la teinture</label>
                  <select class="form-select" [(ngModel)]="paysDeProvenance"  formControlName="paysDeProvenance">
                    <option *ngFor="let pays of lesPays" [value]="pays.code">{{ pays.name  }}</option>
                  </select>


                </div>
              </div>


              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label >Pays de provenance de la teinture</label>
                  <select class="form-select" [(ngModel)]="selectedcountries" formControlName="paysDeProvenance">
                    <option *ngFor="let pays of lesPays" [value]="pays.code">{{ pays.name  }}</option>
                  </select>



<!--                  <label for="paysDeProvenance">Pays de provenance du filage</label>-->
<!--                  <input type="text" class="form-control" id="paysDeProvenance" placeholder="Enter full name"  >-->
                </div>
              </div>

<!--              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">-->
<!--                <div class="form-group">-->
<!--                  <label for="fullName">Pays de fabrication du produit</label>-->
<!--                  <input type="text" class="form-control" id="fullName" placeholder="Enter full name" formControlName="paysFabrication" >-->
<!--                </div>-->
<!--              </div>-->


              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">

                <div class="form-group">
                  <label >Matière</label>
                  <label >Pays de provenance de la teinture</label>
                  <select class="form-select" [(ngModel)]="selectedMaterial" formControlName="matiere">
                    <option *ngFor="let matiere of materials" [value]="matiere.id">{{ matiere.name  }}</option>
                  </select>


                </div>
              </div>


            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                  <button type="button" id="cancel" name="submit"
                          class="btn btn-lg btn-secondary" (click)="annuler()">Annuler</button>
                  <button type="button" id="submit" name="submit" class="btn btn-lg btn-primary btn-rigth" (click)="valider()">soumettre</button>
                  <button type="button" id="submit" name="submit" class="btn btn-lg btn-primary btn-rigth" (click)="testSimulation()">soumettre</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 resultsimulation" *ngIf="launchSimulation">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">

              <div class="about">
                <h5>Description du resultat</h5>
                <p>Le score PEP (Potentiel Écotoxique et Persistant) est un indicateur utilisé dans le domaine de l'écologie pour évaluer l'impact potentiel d'un produit chimique sur l'environnement. Il s'agit d'une mesure qui prend en compte à la fois l'écotoxicité et la persistance d'une substance chimique</p>
              </div>

              <div class="user-profile">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

